/* Main
-----------------------------------------------------------------------------*/
body {
	color:#272527;
	background-color:#bfe2fc;}

hr {
	height:1px;
	border-width:0;
	color:#d4d4d4;}

.vfi_content {
	height:100%;
	padding-left:10px;
	padding-right:11px;
	overflow:auto;
	background-color:#f7f7f7;}

.vfi_bottom {
	padding-left:7px;
	height:40px;}


/* Color bar and icons
-----------------------------------------------------------------------------*/
div.vfi_cb {
	background-color:#3a3d42;
	height:2px;
	width:100%;
	margin-bottom:10px;}

div.vfi_cb.alert_question {
	background-color:#00aeef;}

div.vfi_cb.alert_confirmation {
	background-color:#88c540;}

div.vfi_cb.alert_warning {
	background-color:#ec2e09;}

div.vfi_cb.alert_caution {
	background-color:#f2be1a;}

img.animated_gif {
	height:60px;
	margin-bottom:10px;}

div.vfi_icon {
	background-position:center;
	background-repeat:no-repeat;
	height:60px;
	width:100%;
	margin-bottom:10px;}

div.vfi_icon.alert_question {
	background-image:url('../images/bluealert60x60.png');}

div.vfi_icon.alert_confirmation {
	background-image:url('../images/greenalert60x60.png');}

div.vfi_icon.alert_warning {
	background-image:url('../images/redalert60x60.png');}

div.vfi_icon.alert_caution {
	background-image:url('../images/yellowalert60x60.png');}

.common_icon {
	background-position:center;
	background-repeat:no-repeat;
	width:100%;}

img.card_img.big {
	height:55px;}

img.card_img.small {
	height:35px;}

img.insert_card.size {
   width:105px;
   height:100px;
}

img.ctls_logo.size {
   width:100px;
   height:59px;
}

/* Text
-----------------------------------------------------------------------------*/
.vfi_txt {
	text-align:left;
	font-size:12px;
	font-weight:300;}

.vfi_txt.header_title {
	margin-bottom:12px;
	text-align:center;
	font-size:20px;}

.vfi_txt.body_header {
	font-size:14px;
	line-height:19px;}

.vfi_txt.body_text {
	line-height:17px;}

.vfi_txt.body_header.alert {
	text-align:center;}

.vfi_txt.body_text.alert {
	text-align:center;}

.vfi_txt.body_header.amount {
	margin-top:5px;
	text-align:center;
	font-weight:400;}

.vfi_txt.body_text.hint {
	text-align:center;}

.vfi_txt.input_text {
	margin-top:15px;
	margin-bottom:15px;
	text-align:center;
	font-size:28px;}


/* Bottom buttons
-----------------------------------------------------------------------------*/
button.vfi_action_button {
	font-weight:400;
	border:0px;
	color:#fff;
	font-size:14px;
	text-align:center;
	vertical-align:middle;
	border-radius:4px;
	height:30px;
	margin-top:10px;
	width:299px;
	background-color:#00aeef;}

button.vfi_action_button:focus {
	background-color:#0a99d8;}

button.vfi_action_button:active {
	background-color:#1585C2;}

button.vfi_action_button.right {
	width:145px;}

button.vfi_action_button.left {
	width:145px;
	background-color:#9b9b9b;}

button.vfi_action_button.left:focus {
	background-color:#727272;}

button.vfi_action_button.left:active {
	background-color:#4a4a4a;}

button.vfi_action_button.back {
	background-color:#9b9b9b;}

button.vfi_action_button.back:focus {
	background-color:#727272;}

button.vfi_action_button.back:active {
	background-color:#4a4a4a;}


/* Input
-----------------------------------------------------------------------------*/
.vfi_content.input {
	height:100%;
	width:278px;
	overflow:auto;
	background-color:#eee;}

input.vfi_input {
	font-weight:300;
	text-align:center;
	margin-left:10px;
	margin-right:10px;
	width:258px;
	border-bottom:2px solid #c8c8c9;
	border-top:0px;
	border-left:0px;
	border-right:0px;}

input.vfi_input.text_small {
	font-size:14px;
	line-height:19px;}

input.vfi_input.text_large {
	font-size:36px;
	line-height:49px;}

input.vfi_input.pin {
	font-size:17px;}


/* List objects
-----------------------------------------------------------------------------*/
button.vfi_list_button {
	border:0px;
	height:42px;
	width:100%;
	background-color:#fff;
	vertical-align:middle;
	border-radius:3px;
	margin-bottom:2px;}

button.vfi_list_button:focus {
	background-color:#d4d4d4;}

button.vfi_list_button:active {
	background-color:#6a6a6a;}

div.vfi_txt.list_button_number {
	font-size:14px;
	color:#9b9b9b;
	margin-left:10px;}

div.vfi_txt.list_button_text {
	font-size:14px;
	margin-left:10px;
	margin-right:10px;}

div.blue_arrow {
	background-image:url('../images/arrow10x15.png');
	background-position:center center;
	background-repeat:no-repeat;
	height:15px;
	width:10px;
	margin-right:10px;}

button.vfi_list_button.disabled {
	height:52px;}

div.vfi_txt.list_button_text.disabled_header {
	font-weight:400;}

div.vfi_txt.list_button_text.disabled_text {
	font-size:12px;}

.before_content_row {
   height:25%;}
   
.content_row {
   height:50%;}   
   
.version_table {
overflow:auto;}   

.version_table_row {
width:100%;
overflow:visible;}   
